[submodule "submodules/ace-builds"]
	path = submodules/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "submodules/px2style"]
	path = submodules/px2style
	url = https://github.com/pickles2/px2style.git
