<form action="javascript:;" method="post">

    <h2>モジュールID</h2>
    <input type="text" name="moduleId" class="px2-input px2-input--block" />

    <h2>モジュール名</h2>
    <input type="text" name="moduleName" class="px2-input px2-input--block" />

</form>
