<p>
	<%= lb.get('ui_message.delete_the_module_are_you_sure') %><br />
</p>
<form action="javascript:;" method="post">
	<div class="px2-form-input-list">
		<ul class="px2-form-input-list__ul">
			<li class="px2-form-input-list__li" data-name="input-module-id">
				<div class="px2-form-input-list__label"><label for="input-module-id"><%= lb.get('ui_label.module_id') %></label></div>
				<div class="px2-form-input-list__input"><%= moduleId %></div>
			</li>
		</ul>
	</div>
</form>
