<p>
	カテゴリを削除します。よろしいですか？<br />
</p>
<form action="javascript:;" method="post">
	<div class="px2-form-input-list">
		<ul class="px2-form-input-list__ul">
			<li class="px2-form-input-list__li" data-name="input-category-id">
				<div class="px2-form-input-list__label"><label for="input-category-id"><%= lb.get('ui_label.category_id') %></label></div>
				<div class="px2-form-input-list__input"><%= categoryId %></div>
			</li>
		</ul>
	</div>
</form>
