<form action="javascript:;" method="post">
	<div class="px2-form-input-list">
		<ul class="px2-form-input-list__ul">
			<li class="px2-form-input-list__li" data-name="input-info-json">
				<div class="px2-form-input-list__label"><label for="input-info-json">info.json</label></div>
				<div class="px2-form-input-list__input">
					<textarea name="infoJson" class="px2-input px2-input--block" id="input-info-json"></textarea>
				</div>
			</li>
		</ul>
	</div>
</form>
