<form action="javascript:;" method="post">

    <h2>パッケージID</h2>
    <input type="text" name="packageId" class="form-control" />

    <h2>パッケージ名</h2>
    <input type="text" name="packageName" class="form-control" />

</form>
