<form action="javascript:;" method="post">

    <h2>パッケージID</h2>
    <input type="text" name="packageId" class="form-control" />

    <h2>パッケージ名</h2>
    <input type="text" name="packageName" class="form-control" />

    <h2>インポート</h2>
    <ul>
        <li><label><input type="radio" name="import_from" value="" checked="checked" /> ゼロから作る</label></li>
    </ul>

    <h3>プラグインパッケージからインポート</h3>
    <ul>
    <% for( var idx in pluginPackages ){ %>
        <li><label><input type="radio" name="import_from" value="modulePlugin:<%= idx %>" /> <%= pluginPackages[idx].name %></label></li>
    <% } %>
    </ul>
    <h3>既存のパッケージからインポート</h3>
    <ul>
    <% for( var idx in broccoliPackages ){ %>
        <li><label><input type="radio" name="import_from" value="moduleCollection:<%= idx %>" /> <%= broccoliPackages[idx].packageName %></label></li>
    <% } %>
    </ul>

</form>
