<h1>新規カテゴリを追加</h1>
<form action="javascript:;" method="post">

<h2>カテゴリID</h2>
<input type="text" name="categoryId" class="form-control" />

<h2>カテゴリ名</h2>
<input type="text" name="categoryName" class="form-control" />

<p>
	<button class="btn btn-primary pickles2-module-editor__save">完了</button>
</p>
</form>
