<form action="javascript:;" method="post">

	<h2>info.json</h2>
	<textarea name="infoJson" class="form-control"></textarea>

	<h2>HTML</h2>
	<select name="templateExt" class="form-control">
		<option value="html">.html</option>
		<option value="html.twig">.html.twig</option>
	</select>
	<textarea name="template" class="form-control"></textarea>

	<h2>CSS (SCSS)</h2>
	<select name="cssExt" class="form-control">
		<option value="css">.css</option>
		<option value="css.scss">.css.scss</option>
	</select>
	<textarea name="css" class="form-control"></textarea>

	<h2>JavaScript</h2>
	<select name="jsExt" class="form-control">
		<option value="js">.js</option>
	</select>
	<textarea name="js" class="form-control"></textarea>

	<p><button class="px2-btn px2-btn--primary">SAVE</button></p>

	<hr />
	<h2>Preview</h2>
	<div class="pickles2-module-editor__module-edit__preview"></div>

</form>
