@charset "utf-8";
.pickles2-module-editor{
	// border: 1px solid #000;
	overflow: auto;
	position: relative;

	// module title
	&__title{
		display: block;
		margin: 0;
		padding: 0;
		font-size: 140%;

		&__label{
			font-weight: bold;
		}
		&__id{
			font-weight: normal;
			font-size: 80%;
			padding-left: 1em;

			&:before{
				content: '(';
			}
			&:after{
				content: ')';
			}
		}
	}

	// button group
	&__buttons{
		display: block;
		padding: 10px 0;
		margin: 0;
		>li{
			display: inline-block;
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
	}

	// packageList
	&__packageList{
		margin: 1em 0;
		padding: 0;
	}
	&__packageList>li{
		display: block;
		list-style-type: none !important;
		margin: 2px 0;
		padding: 5px 5px 5px 15px;
		background-color: #000;
		border: 1px solid #eee;
		border-radius: 3px;
		color: #fff;
	}

	// categoryList
	&__categoryList{
		margin: 1em 0;
		padding: 0;
	}
	&__categoryList>li{
		display: block;
		list-style-type: none !important;
		margin: 2px 0;
		padding: 5px 5px 5px 15px;
		background-color: #ddd;
		border: 1px solid #eee;
		border-radius: 3px;
		color: #333;
	}

	// moduleList
	&__moduleList{
		margin: 1em 0;
		padding: 0;
	}
	&__moduleList>li{
		display: block;
		list-style-type: none !important;
		margin: 2px 0;
		padding: 5px 5px 5px 15px;
		background-color: #fbfbfb;
		border: 1px solid #eee;
		border-radius: 3px;
		color: #333;
	}
}
